<!DOCTYPE html>
  html(lang="en")
    include inc/head
      title Page Not Found
      include inc/social
    body
      include inc/header
      section
        .section__inner
          .container
            h1 Page not found
            p Sorry, but the page you were trying to view does not exist.

      include inc/footer
      include inc/foot
