<!DOCTYPE html>
  html(lang="en")
    include inc/head
      title Birth Trauma Consultancy
      meta(name="description" content="Birth trauma health education that optimizes access to evidence based postnatal health improvement")
      include inc/social
    body
      include inc/header
      main
        include inc/introduction
        include inc/sections/about
        include inc/sections/bio
        include inc/sections/services
        include inc/sections/faq
        include inc/sections/research
        include inc/sections/contact
      include inc/footer
      include inc/foot