.card {
  flex: 1;
  border: 1px solid $border-colour;
  border-radius: $default-radius;
  overflow: hidden;
  background: $white;
  min-width: calc(50% - 1em);
  margin-bottom: 1em;

  // box-shadow: $elevation-1;

  &:nth-child(even) {
    margin-left: 1em;
  }

  &__content {
    padding: $default-padding;

    h5:first-child {
      margin-top: 0;
    }
  }

  &__image {
    min-height: 4em;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    filter: grayscale(80%);
  }
}
