footer
  .section__inner
    .container
      div
        small &copy; 2020 | Birth Trauma Consultancy
        br
        small Website by 
          a(href="https://aidanhislop.com" target="_blank") Aidan Hislop
      .nav-wrap
        nav
          ul
            li
              a(href="/#about") About
            li
              a(href="/#approach") Approach
            li
              a(href="/#founder") Founder
            li
              a(href="/#services") Services
            li
              a(href="/#faq") FAQ
            li
              a(href="/#contact") Contact