footer
  .section__inner
    .container
      div
        small &copy; Birth Trauma Consultancy

      .nav-wrap
        nav
          ul
            li
              a(href="/#about") About
            li
              a(href="/#services") Services
            li
              a(href="/#faq") FAQ
            li
              a(href="/#research") Research
            li
              a(href="/#contact") Contact