script(src="js/vendor/modernizr-3.11.2.min.js")
script(src="js/plugins.js")
script(src="js/main.js")
script(src="https://www.google.com/recaptcha/api.js")
script.
  window.onSubmit = function(token) { document.getElementById('contact_form').submit();  }