header
  .header-top-bar
    a.logo(href="/")
      img(src="/img/logo.svg", alt="Birth Trauma Consultancy Logo")
      .logo--title
        .title Birth Trauma Consultancy
        span.logo--subtitle Dr Elizabeth Skinner
    nav.primary
      ul
        li
          a(href="#about") About
        li
          a(href="#services") Services
        li
          a(href="#faq") FAQ
        li
          a(href="#research") Research
        li
          a(href="#contact") Contact
  .header-content
    .container
      h1 Birth Trauma Consultancy
      p Birth trauma health education that optimizes access to evidence<br> based postnatal health improvement.
      a.button(href="#contact") Get in touch