header
  .header-top-bar
    a.logo(href="/")
      img(src="/img/logo.svg", alt="Birth Trauma Consultancy Logo")
      .logo--title
        .title Birth Trauma Consultancy
        span.logo--subtitle Dr Elizabeth Skinner
    button.nav-open-hamburger(type="button" aria-label="Open menu")
      span
    nav.primary
      ul
        li
          a(href="/#about") About
        li
          a(href="/#approach") Approach
        li
          a(href="/#founder") Founder
        li
          a(href="/#services") Services
        li
          a(href="/#faq") FAQ
        li
          a(href="/#contact") Contact
  .header-content
    .container
      h1 Birth Trauma Consultancy
      p Birth trauma education that optimizes access to evidence<br> based postnatal health improvement.
      a.button(href="/#contact") Get in touch