section#introduction.poppy
  .section__inner
    .container
      h3.section__title We can help
      .columns
        include elements/card
        +card('My Life is impacted by birth trauma', 'pillows')
          h5 For women who report after child birth:
          p
            em "...I desperately need a way forward... my vagina is sodamaged 
              | ... no one understands that sex is untenable... 
              | I feel traumatized and desexualized”
          h5 For husbands/partners who states:
          p
            em “…I feel so helpless... no one seems to understand that 
              | the birth of our son was like a bad car crash …since then my partner 
              | has been a different person …I just want her back... the doctors say 
              | vaginal injuries are normal and sex will make it better… but she just 
              | avoids me.”
        +card('Caring for those affected by birth trauma', 'field')
          p For clinicians and health providers who want to improve the quality of the 
            | lives of women and their partners following traumatic childbirth.