section#introduction.poppy
  .section__inner
    .container
      h3.section__title We can help
      .columns.columns--thirds
        include elements/card
        +card(null, 'feet-ribbon')
          h5 Mothers who say:
          p
            small
              em "I desperately need a way forward...my vagina is so   
                  | damaged... no one understands sex is impossible... 
                  | I feel traumatized and desexualized”
          a.button(href="/#") Read more
        +card(null, 'hands-ribbon')
          h5 Husbands/partners who say:
          p
            small
              em “I feel so helpless…my partner’s birth was like a car crash… 
                | since then she is so different…I just want her back… doctors 
                | say her vaginal area is back to normal... but there must be 
                | damage because sex seems so painful .”
          a.button(href="/#") Read more
        +card(null, 'doctor-desk-ribbon')
          p Health professionals who manage adverse postnatal physical and 
            | psychological consequences of vaginal birth damage
          a.button(href="/#") Read more
