section#about
  #vision.side-image-row.tint
    .columns
      .column
        .container--half
          h3.section__title Our Vision
          .inner
            p To be the leading postnatal agency in Australia that provides
              | birth trauma advocacy and access to improved health care by
              | facilitating evidence based management, support and optimal
              | communication for women and partners suffering from the effects of
              | pelvic organ prolapse, bowel, urinary, sexual impairment and
              | postpartum PTSD.
      .column.side-image
        picture
          source(src="img/field.webp", type="image/webp")
          source(src="img/field.jpg", type="image/jpeg")
          img(src="img/field.jpg", alt="" loading="lazy")
  #why
    .container
      h3.section__title Why
      p Vulputate odio ut enim blandit. Nunc vel risus commodo viverra 
        | maecenas accumsan lacus vel. Dui accumsan sit amet nulla facilisi 
        | morbi tempus. Donec pretium vulputate sapien nec sagittis aliquam 
        | malesuada bibendum arcu. Risus quis varius quam quisque id.
      .rows
        .row
          .fact
            .fact__image
              picture
                source(src="img/hands.webp", type="image/webp")
                source(src="img/hands.jpg", type="image/jpeg")
                img(src="img/hands.jpg", alt="Hands of a father, mother and child" loading="lazy")
            p.fact__content      
              strong Recent international research observes that more women than 
                | previously realized suffer ‘silently’ from physical and psychological effects 
              | of vaginal birth damage that they describe as “…hidden and overlooked’.
        .row
          .fact
            .fact__image
              picture
                source(src="img/field.webp", type="image/webp")
                source(src="img/field.jpg", type="image/jpeg")
                img(src="img/field.jpg", alt="" loading="lazy")
            p.fact__content      
              strong Since the introduction of imaging in the 21st Century, 
                | international studies reveal that during lengthy vaginal births
                | using forceps to deliver large babies, 
              | a pelvic floor structure
              | known as the levator ani muscle, becomes detached from the pubic
              | bone. This injury is different to the more well-known perineal
              | damage and can result in the bladder, bowel and/ or uterus
              | prolapsing into the vagina. Other research shows that both types
              | of birth damage have debilitating consequences for women.
        .row
          .fact
            .fact__image
              picture
                source(src="img/pillows.webp", type="image/webp")
                source(src="img/pillows.jpg", type="image/jpeg")
                img(src="img/pillows.jpg", alt="" loading="lazy")
            p.fact__content     
              strong Perinatal mental health research reports that vaginal birth
                | injury symptoms are poorly identified
              | , embarrassing to explain and often result in barriers to care 
              | with reduced quality of  life, marital harmony and postpartum PTSD. 1,2,3
  #approach.tint
    .container
      h3.section__title Our Approach
      p 
        strong Vulputate odio ut enim blandit. 
        | Nunc vel risus commodo viverra 
        | maecenas accumsan lacus vel. Dui accumsan sit amet nulla facilisi 
        | morbi tempus. Donec pretium vulputate sapien nec sagittis aliquam 
        | malesuada bibendum arcu. Risus quis varius quam quisque id.
      .inner
        .rows
          .fact.fact--list
            p.fact__content An expert birth trauma consultant works respectfully with 
              | individuals, couples and/or groups of clinicians to identify 
              | their gaps in knowledge regarding physical, sexual and 
              | psychological effects of vaginal birth trauma, that may have 
              | prevented access to postnatal health improvement.
          .fact.fact--list
            p.fact__content Birth Trauma Consultancy advocates that health literacy 
              | strategies, supported by World Health Organization [W.H.0.] 
              | directives, are an integral means of disseminating current 
              | research findings on poorly understood effects of vaginal birth 
              | trauma to facilitate evidence based decisions of health 
              | improvement and reduce obstacles to postnatal healthcare.
          .fact.fact--list
            p.fact__content Sessions provide empathetic insight and support for maternal 
              | sexual dysfunction after vaginal birth damage, that is reported 
              | by mothers as “…a taboo topic and secret women’s business”. 
          .fact.fact--list
            p.fact__content Programs are based on findings from published interviews with 
              | traumatized women and partners and does not seek to apportion 
              | blame to health providers.
          .fact.fact--list
            p.fact__content Birth Trauma Consultancy promotes integration of care between 
              | health providers, maternity and mental health clinicians to 
              | improve communication and postnatal outcomes for traumatized 
              | women and partners.