section#about
  #vision.side-image-row.right.tint
    .columns
      .column
        .container--half
          h3.section__title Vision
          .inner
            p Birth Trauma Consultancy is a leading postnatal educational 
              | service that seeks to optimize health outcomes for women 
              | and partners,  suffering from symptoms of poorly validated 
              | pelvic organ prolapse, bowel, urinary, sexual impairment 
              | and PTSD after vaginal childbirth.
            p Uniquely designed programs, based on W.H.O. health literacy 
              | strategies, provide recent evidence based research for 
              | clinicians who manage birth trauma consequences to improve 
              | postnatal health decision making. 
      .column.side-image
        picture
          source(src="img/field.webp", type="image/webp")
          source(src="img/mother.jpg", type="image/jpeg")
          img(src="img/mother.jpg", alt="" loading="lazy")
  #why.side-image-row.left
    .columns
      .column.side-image
        picture
          source(src="img/field.webp", type="image/webp")
          source(src="img/reach-out.jpg", type="image/jpeg")
          img(src="img/reach-out.jpg", alt="" loading="lazy")
      .column
        .container--half
          h3.section__title Why
          p Current international research observes that more women than previously realized, 
            | suffer “…silently” from  severe physical and psychological effects of vaginal birth 
            | damage that are “…embarrassing to explain” and result in barriers to health care with 
            | reduced quality of life, marital disharmony and decreased infant bonding.
  #approach.tint
    .section__inner
      .container
        h3.section__title Our Approach
        .columns
          .column
            .image-heading
              img(src="img/health-icon.svg", alt="")
            p  A birth trauma expert works with mothers, fathers 
              | and/or couples to  identify gaps in their knowledge 
              | on physical &amp;
              | psychological consequences of birth trauma to improve 
              | access to health care and optimize lifestyle outcomes.
          .column
            .image-heading
              img(src="img/doctor-icon.svg", alt="")
            p Interactive workshops designed for perinatal clinicians, 
              | elucidate recent research findings on physical &amp; 
              | emotional symptoms of birth trauma, to improve evidence 
              | based decisions of care. Programs seek to optimize 
              | communication between maternity &amp; mental health 
              | providers and affected women &amp; partners. 
          .column
            .image-heading
              img(src="img/heart-icon.svg", alt="")
            p Sessions offer insight and empathetic support to women and 
              | partners, who cope with sexual issues after vaginal birth 
              | damage, that are reported by mothers as “… secret women’s 
              | business and a taboo topic”. 
          .column
            .image-heading
              img(src="img/study-icon.svg", alt="")
            p Educational information is based on published interviews with 
              | women and partners who experienced adverse effects of 
              | vaginal birth trauma. 


