section#about
  #vision.side-image-row.right.tint
    .columns
      .column
        .container--half
          h3.section__title Vision
          .inner
            p Birth Trauma Consultancy is a leading postnatal educational service that seeks 
              | to optimize health outcomes for women who endure vaginal birth damage and 
              | emotional trauma that are poorly recognized by clinicians, partners and friends.
            p Uniquely designed programs, based on W.H.O. health literacy strategies, aim to 
              | assist partners’ understanding of vaginal birth effects and, provide perinatal 
              | clinicians with evidence based research to improve maternal outcomes of pelvic 
              | organ prolapse, bowel, urinary, sexual impairment and posttraumatic stress 
              | disorder (PTSD).
      .column.side-image
        picture
          source(src="img/field.webp", type="image/webp")
          source(src="img/mother.jpg", type="image/jpeg")
          img(src="img/mother.jpg", alt="" loading="lazy")
  #why.side-image-row.left
    .columns
      .column.side-image
        picture
          source(src="img/field.webp", type="image/webp")
          source(src="img/reach-out.jpg", type="image/jpeg")
          img(src="img/reach-out.jpg", alt="" loading="lazy")
      .column
        .container--half
          h3.section__title Why
          p Current international research observes that more women than previously realized, 
            | suffer “…silently” from severe pelvic floor damage, perineal injuries and/or 
            | PTSD symptoms after vaginal birth that are “…embarrassing and difficult to 
            | explain or understand” and result in barriers to health care with reduced 
            | quality of life, marital disharmony and decreased infant bonding.