section#approach.tint
  .section__inner
    .container
      h3.section__title Our Approach
      .columns
        .column
          .image-heading
            img(src="img/health-icon.svg", alt="Health Icon")
          p A birth trauma expert works with women, partners and/or 
            | couples to identify gaps in their knowledge on adverse 
            | effects of pelvic floor, perineal &amp; emotional trauma 
            | after vaginal childbirth to improve access to health 
            | care and optimize lifestyle outcomes.
        .column
          .image-heading
            img(src="img/doctor-icon.svg", alt="Doctor Icon")
          p Clinicians are offered interactive workshops, based on 
            | recent research to enhance identification of: major pelvic 
            | floor damage, severe perineal tearing and  resultant 
            | symptoms of postnatal PTSD. Information aims to improve 
            | evidence based decisions of care and optimize communication 
            | between health providers and affected women &amp; partners. 
        .column
          .image-heading
            img(src="img/heart-icon.svg", alt="Hands holding heart icon")
          p Sessions offer insight and empathetic support to women and 
            | partners, who cope with sexual issues after vaginal birth 
            | damage, that are reported by mothers as “… secret women’s 
            | business and a taboo topic”. 
        .column
          .image-heading
            img(src="img/study-icon.svg", alt="Open book icon")
          p Educational information is based on published interviews with 
            | women and partners affected by birth trauma. Mothers were 
            | accurately diagnosed by imaging with major pelvic floor &amp; 
            | perineal injuries and disclosed multiple symptoms of 
            | posttraumatic stress disorder (PTSD). 