section#bio.poppy
  .section__inner
    .container
      h3.section__title Birth Trauma Consultant
      .inner
        .profile
          .profile__image
            img(src="img/dr-elizabeth-skinner_400x400.jpeg", alt="Dr Elizabeth Skinner")
          .profile__bio
            h3 Dr Elizabeth Skinner
            span Researcher, author, educator, international speaker on birth trauma
            hr
            ul
              li Liz’s original research places her at the forefront of understanding the 
                | link between physical and psychological 
                | effects of traumatic vaginal birth damage.
              li As the founder of Birth Trauma Consultancy, she offers educational programs 
                | based on W.H.O. health literacy strategies, international imaging and perinatal 
                | psychology research.
              li Her findings reveal that postnatal health is improved by integrated care
                | between maternity and mental health clinicians.
              li She proposes there is an urgent need to address adverse effects of major
                | vaginal birth injuries and symptoms of PTSD, that are currently unidentified by
                | clinicians and poorly understood by women and partners.
        .attributes
          .attributes__buttons
            //- button(type="button") Advocate
          .attributes__info