section#contact
  .section__inner
    .container
      h3 Contact us
      .inner
        form
          .fields
            .field.field--half
              label(for="first_name") First Name 
                span.required *
              input#first_name(type="text" name="first_name" required)
            .field.field--half
              label(for="last_name") Last Name 
                span.required *
              input#last_name(type="text" name="last_name" required)
            .field.field--half
              label(for="email") Email 
                span.required *
              input#email(type="text" name="email" required)
            .field.field--half
              label(for="phone") Phone Number
              input#phone(type="text" name="phone" required)
            .field
              label(for="message") Message
              textarea#message(name="message", rows="5" required)
          .actions
            .action
              input.button(type="submit" value="Submit")