
section#faq
  .section__inner
    .container
      h3.section__title FAQ
      .inner
        details
          summary What is vaginal birth injury?
          p During childbirth a proportion of mothers may sustain severe damage to 
            | vaginal structures that cause adverse physical consequences. Although, 
            | vaginal injury was poorly identified prior to the introduction of 
            | imaging technology in the 21st Century, recent studies report TWO 
            | different types of  serious damage that include: pelvic floor damage 
            | and perineal tearing. Currently, this research has been poorly 
            | disseminated in maternity settings. Some women suffer from both injuries.
            | (
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al 2015
            | , 
            +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
            | )
        details
          summary How is pelvic floor damage different to perineal injury?
          p Currently, both forms of injury are often synonymously described as perineal damage. This is inaccurate and confusing to women. The following definitions are correct:
          ul
            li Pelvic floor damage occurs during complicated deliveries, when an internal pelvic floor structure, called the 
              | levator ani muscle (LAM) becomes detached from one or both sides of the pubic bone and, can result in pelvic  organs 
              | prolapsing into the vagina e.g. bladder, bowel and/ or uterus.
            li Perineal injury occurs during the crowning of baby’s head and affects the area between the vaginal entrance and anus. 
              | Injuries are well known and, can result in minor to serious tearing that can result in  faecal incontinence.
          p (
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al 2015
            | , 
            +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
            | )
        details
          summary What is birth trauma?
          p Mothers who experience traumatic birth events and/ or debilitating physical effects of vaginal 
            | damage can also suffer from symptoms of posttraumatic stress disorder (PTSD) that include: 
            | avoidance of birth related issues in everyday life; panic attacks; hypervigilance; detachment 
            | from partners &amp; friends; poor bonding with baby; nightmares; feelings of numbness; 
            | flashbacks/reexperiencing traumatic birth events. 
            | (
            +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
            | )
        details
          summary Do many mothers suffer from vaginal birth damage?
          p Recent studies show that the TWO types of major vaginal birth damage are more common than previously realized and often 
            | poorly identified.
          p Pelvic floor damage affects: 10 to 30 % of first time mothers in developed countries.
            | Severe perineal injuries or 3rd and 4th degree tears affect approximately 4 to 6 % of mothers.
            | (
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al 2015
            | , 
            +externalLink('http://www.who.int/classications/icd/en') W.H.O. 2015.
            | )
        details
          summary Why does no one talk about vaginal birth damage?
          p There is no simple answer to this question but the following may explain contributing factors:
          ul
            li Pregnancy and birth are normative events in society and often positive for a proportion of women.
            li Up until the introduction of imaging in the 21st Century  the effects of vaginal injuries were poorly understood. 
            li Recent research findings have not been disseminated to maternity  clinical settings
            li Consequences of  both types of damage are embarrassing for women to explain and a taboo topic.
            li Women often remain ‘silent’ and mistakenly believe they have failed as mothers and feel stigmatized. 
              | (
              +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al 2015
              | , 
              +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
              | )
        details
          summary How can I tell if birth damage has affected me?
          p You will need to get a referral from your GP to an imaging urogynaecologist if you experience the following:
          ul
            li Bulging in your vaginal area that is exacerbated by standing for long periods and lifting
            li Problems with urinary or bowel incontinence 
            li Severe constipation that is not improved by diet, exercise &amp; laxatives
            li Physical problems having sex
          p (
            +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
            | )
        details
          summary How do I know if my wife/ partner has vaginal birth damage and/ or emotional birth trauma?
          p This service assists women improve their confidence in accessing clinicians who utilize recent research expertise on birth trauma. It is ideal if you can attend an appointment with your partner to a well-informed pelvic floor expert for assessment, so you can both discuss the effects of vaginal birth injury. Otherwise, it is difficult understanding a partner’s lifestyle effects of vaginal birth because she may be too embarrassed to discuss  them with you. The following may help:
          ul
            li Notice whether she finds lifting objects or standing for extended periods difficult.
            li Observe whether she has nightmares, avoids talking about her birth, or appears emotionally detached.
        details
          summary Does sex hurt my partner if she has vaginal birth injuries?
          p This may be dependent on marital communication and how soon after birth you have sex. The following may help:
          ul
            li Healing could take more than 6 weeks and/or up to several months. 
            li Women who suffer from vaginal prolapses may feel uncomfortable, embarrassed and/or have pain or numbness in some positions.
            li More information is provided by the birth trauma expert, who will discreetly discuss individual needs with affected women and/ or partners and, provide access to informed clinicians for treatment options.
        details
          summary Does vaginal birth injury affect my wife/ partner’s psychological health?
          p This is dependent on many factors that include validation of  birth injuries, but the following experiences of women may assist:
          p Recently published interviews with 40 women, who were diagnosed with severe pelvic floor damage and perineal injuries, revealed that more than 2/3 suffered from 3-4 symptoms of postpartum PTSD including: panic attacks/anxiety; hypervigilance; detachment from partners, poor bonding with baby; nightmares; numbness and flashbacks/reexperiencing of traumatic events.
          p Contributing factors will be further discussed by the trauma expert, who can also improve access to an expert mental health clinician for assessment. 
            | (
            +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
            | )
        details
          summary What is health literacy?
          ul
            li Acquired health knowledge that enhances confidence and communication skills to make informed decisions about health improvements.
            li Understanding of evidence based information that optimizes access to health care. 
            li Verbal and written educational sources that cater for varying cognitive and social abilities of individuals. 
              | (
              +externalLink('https://www.who.int/healthpromotion/health-literacy/en/') W.H.O. 2020.
              | )