
section#faq
  .section__inner
    .container
      h3.section__title FAQ
      .inner
        details
          summary What is vaginal birth injury?
          p Injury to the vaginal area during delivery that may cause adverse lifestyle outcomes for a proportion of mothers. 
            | Despite being poorly identified prior to the introduction of imaging technology in the 21st Century,  recent studies 
            | describe TWO different types of damage that include: pelvic floor damage and perineal tearing. 
            | Currently, this research has been poorly disseminated in maternity settings. 
            | Some women suffer from both of these injuries. 
            | ( 
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al 2015
            | , 
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al, 2018.
            | )
        details
          summary How is pelvic floor damage different to perineal injury?
          p Currently, both forms of injury are often synonymously described as perineal damage. This is inaccurate and confusing to women. The following definitions are correct:
          ul
            li Pelvic floor damage occurs during complicated deliveries, when an internal pelvic floor structure, called the 
              | levator ani muscle (LAM) becomes detached from one or both sides of the pubic bone and, can result in pelvic  organs 
              | prolapsing into the vagina e.g. bladder, bowel and/ or uterus.
            li Perineal injury occurs during the crowning of baby’s head and affects the area between the vaginal entrance and anus. 
              | Injuries are well known and, can result in minor to serious tearing that can result in  faecal incontinence.
          p (
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al 2015
            | , 
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al, 2018.
            | )
        details
          summary What is birth trauma?
          p Emotional trauma symptoms of post traumatic stress disorder (PTSD) that occur in response to  debilitating physical effects of
            | vaginal injury after traumatic vaginal birth events.
          p Currently, symptoms of postnatal PTSD are poorly identified and include: avoidance of birth related  issues in everyday
            | life; panic attacks; hypervigilance; detachment from partners &amp; friends; poor bonding with baby; nightmares;  feelings of
            | numbness; flashbacks/reexperiencing traumatic birth events. 
        details
          summary Do many mothers suffer from vaginal birth damage?
          p Recent studies show that the TWO types of  major vaginal birth damage are more common than previously realized and often
            | poorly identified.
          p Pelvic floor damage affects: 10 to 30 % of first time mothers in developed countries.
            | Severe perineal injuries or 3rd and 4th degree tears affect approximately 4 to 6 % of mothers.
            | (
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al 2015
            | , 
            +externalLink('http://www.who.int/classications/icd/en') W.H.O. 2015. 
            | )
        details
          summary Why does no one talk about vaginal birth damage?
          p There is no simple answer to this question but the following may explain contributing factors:
          ul
            li Pregnancy and birth are normative events in society and often positive for a proportion of women.
            li Up until the introduction of imaging in the 21st Century  the effects of vaginal injuries were poorly understood. 
            li Recent research findings have not been disseminated to maternity  clinical settings
            li Consequences of  both types of damage are embarrassing for women to explain and a taboo topic.
            li Women often remain ‘silent’ and mistakenly believe they have failed as mothers and feel stigmatized.
          p (
            +externalLink('https://doi.org/10.1111/ajo.12286') Skinner et al 2015
            | , 
            +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
            | )
        details
          summary How can I tell if birth damage has affected me?
          p You may have vaginal birth damage if you experience the following:
          ul
            li Bulging in your vaginal area that is exacerbated by standing for long periods and lifting
            li Problems with urinary or bowel incontinence 
            li Severe constipation that is not improved by diet, exercise &amp; laxatives
            li Physical problems having sex
          p Further information on accessing the best health care will be discussed by the trauma expert.
        details
          summary How do I know if my wife/ partner has vaginal birth damage and/ or emotional birth trauma?
          p This may be difficult to understand because your partner may be too embarrassed to discuss her injuries with you. 
          p The following may help:
          ul
            li Try and  ask whether she has a heavy bulging feeling in her vagina.
            li Notice whether she  finds lifting objects or standing for extended periods difficult 
            li Observe whether she has nightmares, avoids talking about her birth, is hypervigilant or emotionally detached.
            li Further information will be provided by the trauma expert.
          p (
            +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
            | )
        details
          summary Does sex hurt my partner if she has vaginal birth injuries?
          p This may be dependent on marital communication, observations and how soon after birth you have sex. 
          p Some of the following may help:
          ul
            li Healing could take more than 6 weeks and/or up to several months. 
            li Women who suffer from vaginal prolapses may feel very uncomfortable, have pain or numbness in some positions, pass wind or urine during sex that is very embarrassing.
            li Men are usually  unaware of partners’ bulging in the vagina  due to the lying down position.
          p More information is provided by the birth trauma expert, who will discreetly discuss individual needs with affected women and/ or partners
        details
          summary Does vaginal birth injury affect my wife/ partner’s psychological health?
          p This is dependent on many factors but the following may assist:
          p Recently published interviews with 40 women, who were diagnosed with severe pelvic floor damage and perineal injuries, s revealed that more than 2/3 suffered from 3-4 symptoms of postpartum PTSD  including: 
            | panic attacks/ anxiety; hypervigilance; detachment from partners, poor bonding with baby; nightmares; numbness and flashbacks/reexperiencing of traumatic events. 
          p Contributing factors will be further discussed by the trauma expert.
          p 
            +externalLink('https://doi.org/10.1007/s00737-017-0802-1') Skinner et al, 2018.
        details
          summary What is health literacy?
          ul
            li Acquired health knowledge that enhances confidence and communication skills to make informed decisions about health improvements.
            li Understanding of evidence based information that optimizes access to health care. 
            li Verbal and written educational sources that cater for varying cognitive and social abilities of individuals.
          +externalLink('https://www.who.int/healthpromotion/health-literacy/en/') W.H.O. 2020.