section#founder.poppy
  .section__inner
    .container
      h3.section__title Birth Trauma Consultant
      .inner
        .profile
          .profile__image
            img(
              src='img/dr-elizabeth-skinner_400x400.jpeg',
              alt='Dr Elizabeth Skinner'
            )
          .profile__bio
            h3 Dr Elizabeth Skinner
            span Researcher, author, educator, international speaker on birth trauma
            hr
            details
              summary Birth trauma researcher
              ul
                li Liz’s research places her at the forefront of understanding the link between adverse physical &amp; psychological effects of vaginal birth trauma. 
                li She has a PhD from the Faculty of Medicine at the University of Sydney, Australia and was awarded the Dr Albert Mc Kern Scholarship in collaboration with the Universities of Sydney, Yale &amp; Edinburgh, to undertake perinatal research into the cause, prevention and treatment of mental and physical distress related to childbirth.
                li Over the past 7 years, she worked alongside a team of urogynaecology researchers and imaging experts in Sydney, Australia and, regularly liaises with international pelvic floor specialists and perinatal psychologists.
            details
              summary Advocate
              ul
                li Liz founded Birth Trauma Consultancy in 2020 to optimize lifestyle outcomes for postnatal women, partners and clinicians.
                li Through her commitment to research and contact with traumatized mothers and fathers, Liz co-founded the Australasian Birth Trauma Association [ABTA] in 2017.
                li She is a trustee for the Birth Trauma Association in the UK [BTA] and a  member of the International Marcé Society for Perinatal Mental Health
            details
              summary Educator &amp; clinician
              ul
                li Liz possesses a Masters in Health Science Education from the University of Sydney and has taught extensively  in nursing &amp; midwifery programs at universities in Sydney, Australia. She also presents workshops to maternity and mental health clinicians in Sydney and London on her research..
                li Liz has significant Australian &amp; international clinical expertise in midwifery, child &amp; family health, neonatal and adult intensive care. 
            details
              summary International speaker, author and reviewer
              ul
                li Liz’s research is published  in international peer reviewed obstetric and mental health journals. 
                li She has been interviewed by ABC Radio National Australia and the Sydney Morning Herald; is an invited speaker at international &amp; national conferences; a  reviewer for books and journals on birth trauma and urogynaecology.


