section#research.tint
  .section__inner
    .container
      h3.section__title Research
      .inner
        p 
          em More women than previously realized report major vaginal birth damage with 
            | resultant pelvic organ prolapse, sexual dysfunction, faecal incontinence, linked to 
            | postnatal post-traumatic stress disorder [PTSD]. <small>[Skinner et al, 2018]</small>
        p
          em Currently physical and psychological symptoms of birth trauma are poorly identified 
            | and women face barriers to care due to suboptimal information on risk factors of 
            | vaginal birth damage. <small>[Skinner et al, 2015; Skinner et al, 2018; Skinner, 2020]</small>
        p 
          em Fathers reveal limited medical understanding of vaginal birth injuries and an 
            | inability to reach partners who are emotionally detached. <small>[Skinner, 2020]</small>
        p 
          em Couples report longstanding relationship issues and sexual dysfunction that is 
            | poorly communicated to each other and exacerbated by limited medical assessment 
            | and validation of birth injuries. <small>[Skinner et al, 2018; Skinner, 2020]</small>
        p
          em Men are largely unaware of links between vaginal birth injury and maternal PTSD 
            | symptoms and, women report abandonment after clinicians misdiagnose them with 
            | postnatal depression (PND). <small>[Skinner et al, 2018; Skinner 2020]</small>
        hr
        h4 References
        ol
          li
            small Skinner EM, Barnett B, Dietz HP. Psychological consequences of pelvic floor trauma 
              | following vaginal birth: A qualitative study from two Australian tertiary maternity units. 
              cite Arch Womens Ment Health. 2018; 21(3)
              | : 341-51. 
              a(href='https://doi.org/10.1007/s00737-017-0802-1') https://doi.org/10.1007/s00737-017-0802-1
          li
            small Skinner EM, Dietz HP. Psychological and somatic sequelae of traumatic vaginal 
              | delivery: A literature review. 
              cite Aust NZ J Obstet Gynaecol. 2015; 55(4)
              | : 309-14. 
              a(href='https://doi.org/10.1111/ajo.12286') https://doi.org/10.1111/ajo.12286
          li
            small Skinner EM. The link between somatic and psychological sequelae of traumatic 
              | vaginal birth. Doctoral Thesis. The University of Sydney Library Digital Theses, New 
              | South Wales, Australia. Published February 2020. Available at URL: 
              a(href='https://hdl.handle.net/2123/21774') https://hdl.handle.net/2123/21774
          li
            small Nutbeam D. Defining, measuring and improving health literacy. HEP 2015; 42(4):450-6 
              a(href='https://www.jstage.jst.go.jp/article/jhep/42/4/42_450/_pdf') https://www.jstage.jst.go.jp/article/jhep/42/4/42_450/_pdf
          li
            small Nutbeam D. (2000) Health literacy as a public health goal: a challenge for 
              | contemporary health education and communication strategies into the 21st century, 
              cite Health Promot Int 2000,15(3)
              | : 259-267, 
              a(href='https://doi.org/10.1093/heapro/15.3.259') https://doi.org/10.1093/heapro/15.3.259

