section#services.tint
  .section__inner
    .container
      h3.section__title Services
      div
        h4 Birth trauma health education helps:
        .columns.columns--thirds
          +card(null, 'pillows-ribbon')
            h5 Mothers who need “…a way forward” about:
            p Poorly identified pelvic organ prolapse, urinary, bowel and sexual impairment
            p Symptoms of post traumatic stress disorder [PTSD] that include:
            ul
              li Re-experiencing traumatic birth events frequently
              li Persistently avoiding reminders of their birth
              li Nightmares, flashbacks, numbness, panic attacks, problems bonding with baby
            p Triggering of PTSD symptoms: when partner’s initiate sex; during sex; lack of validation about effects of vaginal birth injury.
          +card(null, 'father-ribbon')
            h5 Husbands/partners who feel “…helpless” about:
            ul
              li Coping with observed maternal PTSD symptoms including emotional detachment that does not resolve 
              li Women’s distress about sex that results in avoidance
              li Their own emotional trauma and related PTSD symptoms after witnessing births
          +card(null, 'couple-ribbon')
            h5 Couples who experience marital disharmony related to birth trauma
        h4 Birth trauma literacy programs are designed to assist:
        p Perinatal clinicians  improve health care decision-making for patients who report symptoms of: 
          | postnatal pelvic organ prolapse, urinary, bowel, sexual impairment and PTSD
        p These  include:
        ul 
          li Midwives, child &amp; family nurses, mental health nurses 
          li Social workers, GP’s, psychologists, psychiatrists 
          li Obstetricians, gynaecologists, urogynaecologists, physiotherapists


        h4 Uniquely developed seminars for relevant participants
        .columns
          +card(null, 'inform-ribbon')
            h5 Provide current research information for clinicians that clarifies:
            ul
              li Etiology and consequences  of pelvic floor birth related damage
              li Causes and effects of  major perineal birth related injury
              li Available diagnostic assessments and instruments
              li Access to urogynecology and perinatal psychology specialty referrals.

          +card(null, 'discuss-ribbon')
            h5 Provide women, partners or couples with:
            ul
              li An understanding of  how postnatal vaginal birth damage &amp; emotional trauma are linked
              li The need for accurate diagnosis &amp; mental health assessment to enable treatment.
              li Validation of embarrassing and isolating effects of birth trauma 
              li Ways of optimizing communication with partners and/or clinicians to decrease
                | feelings of shame and stigma, PTSD triggers, avoidance of sex.


        h4 Participation
        +card(null, 'zoom-ribbon')
          ul
            li Online Zoom, Skype software for individuals, couples or groups
            li Face- to- face presentations for large groups, in accordance with COVID-19 restrictions