section#services.tint
  .section__inner
    .container
      h3.section__title Services
      p Vulputate odio ut enim blandit. Nunc vel risus commodo viverra 
        | maecenas accumsan lacus vel. Dui accumsan sit amet nulla facilisi 
        | morbi tempus. Donec pretium vulputate sapien nec sagittis aliquam 
        | malesuada bibendum arcu. Risus quis varius quam quisque id.
      div
        h4  Birth Trauma Consultancy programs are relevant to:
        .columns
          +card(null, 'pillows')
            h5 Perinatal clinicians who:
            ul
              li Manage women with major pelvic floor &amp; perineal damage
              li Midwives, obstetricians, gynaecologists, urogynecologists, psychologists &amp; psychiatrists
          +card(null, 'field')
            h5 Postnatal mothers who:
            ul
              li Suffer from vaginal birth damage
              li Re-experience traumatic birth events regularly
              li Persistently avoid reminders of birth
              li Experience nightmares, flashbacks, numbness and/or panic attacks
          +card(null, 'hands')
            h5 Partners who:
            ul
              li Observe women’s emotional trauma symptoms
              li Experience similar symptoms after witnessing births
          +card(null, 'pillows')
            h5 Couples:
            ul
              li Experiencing marital distress related to vaginal birth trauma
        h4 Seminars and courses:
        .columns.columns--thirds
          +card(null, 'pillows')

            h5 1. Provide current research information regarding: 
            p Types of vaginal birth damage; 
              | adverse physical and sexual effects; accurate diagnostic imaging assessment &amp; 
              | urogynecology specialties.
          +card(null, 'field')
            h5 2. Explain psychological consequences of vaginal birth damage &amp; birth events concerning: 
            p Links between postnatal PTSD &amp; birth damage; access to mental 
              | health specialties; assessment instruments &amp; treatment options.
          +card(null, 'hands')
            h5 3. Optimize communication between women, partners &amp; clinicians that:
            p validates vaginal birth trauma; decreases feelings of shame and stigma; assists
              | partners understand physical, sexual and emotional effects of birth trauma; provides
              | clinicians with current research and diagnostic information.
        h4 Participation
        +card(null, 'pillows')
          ul
            li Online using Zoom, Skype software for individuals, couples or groups
            li Face- to- face presentations for large groups, in accordance with COVID-19 restrictions